:root {
    --primary: #ce9ff2;
    --secondary: #ffffff;
}

.h-10 {
    height: 10% !important;
}

.h-20 {
    height: 20% !important;
}

.h-70 {
    height: 70% !important;
}

.h-80 {
    height: 80% !important;
}

.primary-custom {
    background-color: var(--primary);

}

body {
    color: var(--secondary) !important;
}

.menu {
    display: inline-flex;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    height: 40px;
    text-decoration: none;
    border: 1px solid rgba(0, 64, 102, .125);
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
}

.menu[aria-expanded="false"] {
    border-radius: 4px;
}

.menu[aria-expanded="true"] {
    border-radius: 4px 4px 0px 0px;
}

.menu:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}



.menu>li {
    vertical-align: middle;
}

.menu:hover {
    background-color: azure;

}

@media (max-width: 500px) {
    .overflow-auto::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-500) !important;
        border: 0px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
    }

    .overflow-auto::-webkit-scrollbar {
        width: 0px;
    }
}

@media (min-width: 501px) {
    .overflow-auto::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-500) !important;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
    }

    .overflow-auto::-webkit-scrollbar {
        width: 16px;
    }
}


::-webkit-file-upload-button {
    background: #f8f9fa;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
}

.btn-toggle::before {
    display: inline-block !important;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    width: 1.25em;
    line-height: 0;
    transform-origin: .5em 50%;

}

a[aria-expanded="true"].btn-toggle::before {
    transform: rotate(90deg);
    vertical-align: middle;
}

.sticky-top {
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
}

h1 {
    font-family:courier;
    font-size: 70px !important;
}

h4 {
    color: #ce9ff2 !important;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 20px !important;
    cursor: pointer;
}

.purple{
    background-color: #ce9ff2 !important;
    color: #ffffff !important;
}

.purple:hover{
    border-color: #ce9ff2 !important;
    background-color: white !important;
    color: #ce9ff2 !important;
}

.form-control:focus {
    border-color: rgb(206 159 242 / 50%) !important;
    box-shadow: 0 0 0 0.25rem rgb(206 159 242 / 25%) !important;
}